
@{
    ViewBag.Title = "PayMe - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        var table = $('#table');
        $('#export').click(function () {
            table.tableExport({
                type: 'excel',
                escape: false
            });
        });
    });
   
</script>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Employees</li>
    </ol>
</div>

<div style="float:right;"><a href="~/Employee/Register" class="btn btn-md btn-primary">Register</a></div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Employees</div>
            <div class="panel-body">
                <div id="toolbar">
                    <button id="export" class="btn btn-default">Export Excel</button>
                </div>
                <table id="table" data-toggle="table" data-url="../Employee/GetUserList" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
        data-show-export="true" data-toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th data-field="FirstName" data-sortable="true">First Name</th>
                            <th data-field="LastName" data-sortable="true">Last Name</th>
                            <th data-field="GenderName" data-sortable="true">Gender</th>
                            <th data-field="EmailID" data-sortable="true">Email</th>
                            <th data-field="RoleName" data-sortable="true">Role</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>