
@{
    ViewBag.Title = "PayMe - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxcore.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdata.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxbuttons.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        LoadGrid();
    });

    function LoadGrid() {
        

      
        var url = "/Finance/GetHLMCServiceMetricMapping";
        var data =
        {
            datatype: "json",
            datafields: [
              
                { name: 'First Name', type: 'string' },
                { name: 'Last Name', type: 'string' },
              
            ],
          
            url: url
         
        };
        var dataAdapter = new $.jqx.dataAdapter(data, {
        });
       
        $("#jqxgridEmployee").jqxGrid(
        {
            width: '1155px',
            height: '600px',
            columnsresize: true,
            pageable: true,
            sortable: true,
            filterable: true,
            pageSize: 25,
            editable: true,
            columnsautoresize: true,
            columnsreorder: true,
            selectionmode: 'singlecell',
            source: dataAdapter,
            editmode: 'click',
            enabletooltips: true,
            columns: [
                
                
               
                { text: 'FirstName', datafield: 'FirstName'},
                { text: 'LastName', datafield: 'LastName'},
              

            ],
           
        });
    }
</script>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Employee List</li>
    </ol>
</div><!--/.row-->

<a href="~/Employee/Register" class="btn btn-primary btn-lg" >Register</a>
<div id="jqxgridEmployee">
</div>
