
@{
    ViewBag.Title = "PayMe - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxcore.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxdata.js"></script>
    <script type="text/javascript" src="~/Scripts/jqwidgets4.1.0/jqxbuttons.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        LoadGrid();
    });

    function LoadGrid() {
        
        debugger;
      
        var url = "/Employee/GetUserList";
        var data =
        {
            datatype: "json",
            datafields: [
              
                { name: 'FirstName', type: 'string' },
                { name: 'LastName', type: 'string' },
                { name: 'GenderName', type: 'string' },
                { name: 'EmailID', type: 'string' },
                { name: 'RoleName', type: 'string' },
              
            ],
          
            url: url
         
        };
        var dataAdapter = new $.jqx.dataAdapter(data, {
        });
       
        $("#jqxgridEmployee").jqxGrid(
        {
            width: '1155px',
            height: '600px',
            columnsresize: true,
            pageable: true,
            sortable: true,
            filterable: true,
            pageSize: 25,
            editable: true,
            columnsautoresize: true,
            columnsreorder: true,
            selectionmode: 'singlecell',
            source: dataAdapter,
            editmode: 'click',
            enabletooltips: true,
            columns: [
                
                
               
                { text: 'First Name', datafield: 'FirstName'},
                { text: 'Last Name', datafield: 'LastName' },
                { text: 'Gender', datafield: 'GenderName' },
                { text: 'Email', datafield: 'EmailID' },
                { text: 'Role', datafield: 'RoleName' },

              

            ],
           
        });
    }
</script>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Employee List</li>
    </ol>
</div><!--/.row-->

<div style="float:right"><a href="~/Employee/Register" class="btn btn-primary btn-lg">Register</a></div>

<div id="jqxgridEmployee">
</div>
