@{
    ViewBag.Title = "PayMe - Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        var table = $('#table');
        $('#export').click(function () {
            table.tableExport({
                type: 'excel',
                escape: false
            });
        });
    });
    function YesNoFormater(value) {
        return value == true ? 'Yes' : 'No';
    }
    function ActionEdit(value) {
        return '<a href="../Project/Edit/' + value + '"><em class="fa fa-pencil" style="font-size:18px;"></a>';
    }
</script>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Projects</li>
    </ol>
</div>

<div style="float:right;"><a href="~/Project/Create" class="btn btn-md btn-primary">Create</a></div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Projects</div>
            <div class="panel-body">
                @if (TempData["Message"] != null && TempData["Message"] != "")
            {
                    <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
                }
                <div id="toolbar">
                    <button id="export" class="btn btn-default">Export Excel</button>
                </div>
                <table id="table" data-toggle="table" data-url="../Project/GetProjectList" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                       data-show-export="true" data-toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th data-field="ClientName" data-sortable="true">Client</th>
                            <th data-field="ProjectName" data-sortable="true">Project</th>
                            <th data-field="PrimaryContact" data-sortable="true">Primary Contact</th>
                            <th data-field="LocationInfo" data-sortable="true">Location Info</th>
                            <th data-field="ManagerName" data-sortable="true">Manager</th>
                            <th data-field="IsActive" data-sortable="true" data-formatter="YesNoFormater">Is Active</th>
                            <th data-field="ID" data-sortable="true" data-formatter="ActionEdit">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
